html {
    font-size: 62.5%;
}

body {
    color: #333;
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

p, span, li, a, div {
    font-size: 1.4rem;
}


/***HEADER***/
.header {
    background: #00770F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    list-style: none;
    padding: 0;
    margin-right: 3rem;
    display: flex;
}

.header li {
    margin-right: 2rem;
}

.header a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}


/***FIN HEADER***/

.section {
    padding: 10rem 10%;
    margin: 0 auto;
}

.section-title {
    font-size: 3.5rem;
    letter-spacing: 5px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.section-subtitle {
    font-size: 2.2rem;
    text-align: center;
}

.section-title-separator {
    display: block;
    margin: 0 auto;
    width: 10%;
    border-top: 1px solid #333;
    height: 1px;
}

.section-body {
    text-align: center;
    width: 80%;
    margin: 5rem auto 0 auto;
    font-size: 2.2rem;
    line-height: 3.5rem;
}

/***PARTIE UNE***/
.hero {
    margin: 0;
    width: 100%;
    text-align: center;
    background: url("../img/banniere.jpg");
    background-size: cover;
    padding: 18rem 0 15rem 0;
}

.main-title {
    margin-top: 1rem;
    margin-bottom: 2rem;

    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 600;
}

.main-title span {
    font-size: 3.6rem;
    color: #9ACF64;
    display: block;
}

.main-subtitle {
    margin: 0;
    font-size: 2rem;
    font-weight: normal;
}

.hand {
    border-radius: 30px;
    background: #395D1A;
    padding: 1rem;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
}

.separator-image-section {
    background-image: url("../img/bandeau.jpg");
    background-size: cover;
    min-height: 20vh;
    height: 40vh;
}

/*** FIN PARTIE UNE***/

/***PROGRAMME***/
.programme {
    background-color: #FEFFF0;
    background-image: url('../img/programme.png');
    background-size: 175px;
    background-position: bottom right;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.programme .columns {
    display: flex;
    justify-content: space-around;
}

.programme-col-title {
    color: #758D5A;
    font-size: 2.4rem;
    margin: 3rem 0;
}

.programme-col-content {
    list-style: none;
    padding: 0;
}

.programme-col-content li {
    margin: 1rem 0;
    font-size: 2.2rem;
}
.programme-col-content li span {
    font-weight: bold;
    font-size: inherit;
    margin-right: 2rem;
}

.programme .hand {
    display: block;
    min-width: 20%;
    width: 20%;
    margin: 5rem auto;
    text-align: center;
}


/**ORATEUR**/
.orateur-row {
    display: flex;
    justify-content: center;
    margin-top: 5rem;

}

.orateur-row:first-child {
    margin-top: 0;
}

.orateur .section-subtitle {
    margin-bottom: 10rem;
}

.orateur {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
}

.orateur:first-child {
    margin-left: 0;
}

.orateur-photo {
    border-radius: 50%;
    min-height: 80px;
    min-width: 80px;
    height: 80px;
    width: 80px;
}

.orateur-name {
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.orateur-desc {
    font-size: 1.8rem;
    margin: 1rem 0;
}

.orateur-hand {
    margin-top: 1rem;
    background: #9ACF64;
    color: #fff;
    border-radius: 30px;
    padding: 0.8rem 2rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

.orateur-hand-icon {}
.orateur-hand-text {
    margin-left: .5rem;
}


/**INFORAPIDE**/
.quick-info {
    background: url('../img/lieu.png');
    background-size: cover;
    padding: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.quick-info-main {
    background: #9ACF64;
    color: #fff;
    width: 15%;
    min-height: 50vh;
    margin-left: 5%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quick-info-element {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    border-top: 1px solid #fff;
}

.quick-info-element:hover {
    text-decoration: underline;
}

.quick-info-element:first-child {
    margin-top: 0;
    border-top: none;
}

.quick-info-element img {
    width: 80px;
    height: auto;
}
.quick-info-element span {
    font-size: 1.8rem;
    font-weight:600;
    margin-left: 2rem;
}

.quick-info-hand {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    padding: 0.8rem 1.5rem;
    position: absolute;
    bottom: 5%;
    right: 5%;
    background: #fff;
    border-radius: 30px;
    text-transform: uppercase;
}

.quick-info-hand-icon {
    width: 15px;
    height: 15px;
    filter: invert(1);
}

.quick-info-hand-text {
    color: #333;
    font-weight: bold;
    margin-left: .3rem;
}


/**SECTION VIDEO**/
.videos {
    display: flex;
    align-items: space-between;
}

.videos-col {
    width: 50%;
}

.videos-col:first-child {
    margin-right: 1rem;
}

.main-video {
    width: 100%;
    height: auto;
    min-height: 300px;
    background: rgba(0,100,0, 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-video-title {
    margin-top: 35%;
    font-size: 2.4rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.main-video-author {
    font-size: 2rem;
    color: #fff;
}

.secondary-video {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    margin-top: 2rem;
}

.secondary-video-img {
    min-width: 50%;
    height: 150px;
}

.secondary-video-text {
    margin-left: 2rem;
}

.secondary-video-title {
    font-weight: bold;
    font-size: 2.4rem;
}

.secondary-video-author {
    display: block;
    margin-top: 1rem;
    font-size: 2rem;
}


/**SECTION ACTU**/
.actus {
    background: #F7F6F3;
}

.actus-container {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}

.actu {
    margin-left: 3rem;
    background: #fff;
}

.actu:first-child {
    margin-left: 0;
}

.actu-img {
    width: 100%;
    height: 175px;
}

.actu-body {
    padding: 1rem 3rem;
}

.actu-title {
    font-size: 2.4rem;
    margin: 0;
}

.actu-text {
    color: #555;
    font-size: 1.6rem;
}

.actu-hand {
    display: block;
    width: 50%;
    margin: 3rem auto;
    padding: 0.5rem 1.5rem;

    border: 1px solid #555;
    border-radius: 30px;

    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.actu-date {
    display: block;
    margin: 2rem 0;
}


/**TéLéCHARMENT**/
.downloads {
    background: #fff;
    display: flex;
    justify-content: center;
}

.download-box {
    padding: 3rem;
    border: 1px solid #aaa;
    margin-left: 3rem;
}

.download-box:first-child {
    margin-left: 0;
}

.download {
    position: relative;
}

.download-image {
    max-height: 400px;
    min-height: 350px;
}

.download-overlay {
    position: absolute;
    top:0;right:0;bottom:0;left:0;
    background-color: rgba(0, 0, 0, 0.2);
}

.download-icon {
    position: absolute;
    top: 3rem;
    right: 3rem;
}

.download-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3rem;
    padding: 0 3rem;
    text-align: center;
    font-size: 2.6rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}


/**FOOTER**/
.footer {
    padding: 5rem 3rem;
    background: #333;
}

.footer ul {
    display: flex;
}

.footer li {
    margin-left: 3rem;
}

.footer li:first-child {
    margin-left: 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
}
